/* stylelint-disable */
body {
  background: linear-gradient(to left, aqua, rgb(0, 128, 255));
  line-height: 0.5;
  text-align: center;
}

.main {
  width: 500px;
  position: absolute;
  top: 40%;
  left: 50%;
  transition: 0.25px;
  transform: translate(-50%, -50%);
  justify-items: center;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  box-shadow: 0 4px 8px 0;
  transition: 0.4s;
  width: 300px;
  text-align: center;
  font-size: 16px;
  float: left;
  margin: 10px;
}

h1 {
  font-size: 30px;
  color: antiquewhite;
  text-align: center;
}

.values {
  width: 240px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px 0;
}

li {
  list-style-type: none;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
}

.buttons {
  border: 3px solid;
  background-color: rgb(40, 211, 40);
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 80px;
  height: 40px;
  margin-left: 40px;
}

label {
  font-size: 20px;
}
