/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #1e1e2f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.music-player {
  text-align: center;
  background: #29293d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 300px;
}

.player h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

.controls button {
  background: #3b3b57;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.add-song button {
  background: #3b3b57;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.controls button:hover {
  background: #50506b;
}

#volume {
  width: 100%;
}

.song-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.song-list li {
  background: #3b3b57;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
}

.song-list li:hover {
  background: #50506b;
}

.add-song input {
  margin-top: 10px;
}

.add-song button:hover {
  background: #50506b;
}
