* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  background: url('https://w0.peakpx.com/wallpaper/799/526/HD-wallpaper-kittens-kitten-cat-love-sleep-animal-couple.jpg') no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0);
}

.loading-text {
  font-size: 150px;
  color: black;
}
