* {
  box-sizing: border-box;
}

body {
  background-color: floralwhite;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#insert {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  background-color: #fffafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.key {
  border: 1px solid #999;
  background-color: #eee;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  margin: 30px;
  min-width: 150px;
  position: relative;
}

.key small {
  position: absolute;
  top: -24px;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 14px;
  color: #555;
}
