body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #17a2b8;
  padding: 1rem;
  text-align: center;
}

.navbar-brand {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#canvas {
  margin: auto;
  background: #eae7e7;
  width: 100%;
}

.custom-file {
  width: 100%;
  height: 2.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

canvas {
  display: block;
  max-width: 100%;
  margin: 1rem 0;
  border: 1px solid #ced4da;
}

h4 {
  font-size: 1.5rem;
  margin: 1rem 0;
  text-align: center;
  color: #495057;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem auto;
  gap: 3px;
}

.filter-btn {
  margin-bottom: 1rem;
  width: 40px;
  height: 30px;
  color: #f8fafc;
  background-color: #17a2b8;
  border-color: #007bff;
  border-radius: 7px;
  font-size: medium;
  cursor: pointer;
}

.filter-btn:hover {
  background-color: #0069d9;
  border-color: #0056b3;
}

.btn-disabled {
  width: 80px;
  height: 25px;
  border-color: #1d2124;
  border-radius: 3px;
  background-color: #fcfcfc;
  color: #343739;
}

.btn-dark {
  color: #fff;
  font-size: medium;
  background-color: #343a40;
  border-color: #343a40;
  border-radius: 7px;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-primary {
  color: #fff;
  font-size: medium;
  background-color: #007bff;
  border-color: #007bff;
  height: 50px;
  width: 150px;
  border-radius: 9px;
  cursor: pointer;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0056b3;
  border-color: #004085;
  height: 56px;
  width: 160px;
}

.btn-danger {
  font-size: medium;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  height: 50px;
  width: 150px;
  border-radius: 9px;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
  height: 56px;
  width: 160px;
}
