* {
  box-sizing: border-box;
  background-color: #2a2828;
}

body {
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

h1,
h3 {
  color: aliceblue;
}

h1,
.container {
  display: flex;
  justify-content: center;
}

.container {
  align-items: center;
  width: 90vw;
  margin: auto;
}

.panel {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  border-radius: 50px;
  color: #494747;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 25px;
  left: 10vh;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
